# OS
.DS_Store
Thumbs.db

# Node
node_modules
dist
dist-ssr
*.local
npm-debug.log*

# Tauri Sidecars
/src-tauri/binaries/*
!/src-tauri/binaries/.gitkeep

# Editor
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.sln
*.sw?

